# DATABASE_URL="mongodb+srv://devmilon923mongodbatlast:y9LFb076NwNdxATK@cluster0.wwyyh.mongodb.net/TestDB"
DATABASE_URL=""
JWT_SECRET_KEY="token"
Nodemailer_GMAIL =""
Nodemailer_GMAIL_PASSWORD =""
UPLOAD_FOLDER = public/images
AppName='Your APP Name'
 endpoint_secret="Secret"
 RedisHost=127.0.0.1
 RedisPort=6379
 ServerPort=3000
 RedisPassword=""