# DATABASE_URL="mongodb+srv://devmilon923mongodbatlast:y9LFb076NwNdxATK@cluster0.wwyyh.mongodb.net/TestDB"
DATABASE_URL=""
JWT_SECRET_KEY=""
Nodemailer_GMAIL =""
Nodemailer_GMAIL_PASSWORD =""
UPLOAD_FOLDER = public/images
AppName='Your APP Name'
 RedisHost=127.0.0.1
 RedisPort=6379
 ServerPort=3000
 RedisPassword=""
acExpire=60 # 1 minute
rfExpire=259200 # 3days
veriExpire=300 # 5 minute